.modal.hystmodal.mobile-menu(id='mobileMenu')
    .hystmodal__wrap
        .hystmodal__window(role="dialog" aria-modal="true")
            .modal__content
                .mobile-menu__header
                    .mobile-menu__logo 
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#logo`)
                    button(data-hystclose).modal__close
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#close`)
                .mobile-menu__menu
                    a(href="#").mobile-menu__item О компании
                    a(href="#").mobile-menu__item Каталог продукции
                    a(href="#").mobile-menu__item Гарантия
                    a(href="#").mobile-menu__item Контакты
