$font: "Montserrat", sans-serif;


/* media */
$media-list: (
    'a730': 730,
    'a768': 768,
    'a1024': 1024,
    'a1199': 1199,
    'a1300': 1300,
    'a1440': 1440,
);

/* transitions */
$tr-time-and-type: 0.3s ease;

/*Цвета*/
$c-white: #fff;
$c-light-bg: #F8F9FA;
$c-text: #1D1D1D;
$c-text-white: #F0ECF4;
$c-text-grey: #495057;
$c-accent-1: #6B3D90;
$c-accent-2: #A2C617;
$c-logo: #070605;
$c-placeholder: #ADB5BD;