.home-about {
    position: relative;
    height: vh(722);
    overflow: hidden;
    width: 100%;
    padding-top: vh(148);

    @include max(1600) {
        padding-top: vh(80);
    }

    &__container {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 100%;
        z-index: 10;
    }

    &__slide {
        min-width: 100%;

        .h-container {
            min-height: 415px;
            display: flex;
            align-items: stretch;
            gap: 70px;
            padding-left: 80px;

            @include max(1600) {
                min-height: 337px;
                gap: 50px;
                padding-left: 0;
            }
        }
    }


    &__side {
        width: 394px;
        flex-shrink: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75em;
        color: $c-text-white;

        @include max(1600) {
            font-size: 14px;
            width: 315px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1 1 auto;
        font-size: 45px;
        font-weight: 500;
        line-height: 1.22em;
        color: $c-text-white;

        @include max(1600) {
            font-size: 36px;
        }
    }

    &__decor {
        position: absolute;
        left: 30px;
        bottom: vh(-22);
        height: vh(206);
        width: vh(3538);

        img {
            width: 100%;
            height: 100%;
        }
    }
}