.home-about {
    position: relative;
    height: vh(722);
    overflow: hidden;
    width: 100%;
    padding-top: vh(148);

    @include max(1600) {
        padding-top: vh(80);
    }

    @include max(1023) {
        height: auto;
        padding-top: 73px;
        padding-bottom: 40px;
    }

    &__container {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 100%;
        z-index: 10;

        @include max(1023) {
            flex-direction: column;
            align-items: stretch;
            gap: 10px;
        }
    }

    &__slide {
        min-width: 100%;

        .h-container {
            min-height: 427px;
            display: flex;
            align-items: stretch;
            gap: 70px;
            padding-left: 80px;

            @include max(1600) {
                min-height: 337px;
                gap: 50px;
                padding-left: 0;
            }

            @include max(1279) {
                min-height: 280px;
            }

            @include max(1023) {
                min-height: auto;
                flex-direction: column;
                gap: 10px;
                background-color: rgba(255, 255, 255, 0.15);
                padding: 20px;
                border-radius: 10px;
            }
        }
    }


    &__side {
        padding-top: 13px;
        width: 394px;
        flex-shrink: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75em;
        color: $c-text-white;

        @include max(1600) {
            font-size: 14px;
            width: 315px;
        }

        @include max(1023) {
            width: 100%;
            line-height: 1.57em;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1 1 auto;
        font-size: 45px;
        font-weight: 500;
        line-height: 1.22em;
        color: $c-text-white;

        @include max(1600) {
            font-size: 36px;
        }

        @include max(1279) {
            font-size: 28px;
        }

        @include max(1023) {
            font-size: 16px;
            gap: 22px;
            line-height: 1.5em;
        }
    }

    &__decor {
        position: absolute;
        left: 30px;
        bottom: vh(-22);
        height: vh(206);
        width: vh(3538);

        @include max(1023) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}