.home-intro {
    height: 100vh;
    padding-bottom: vh(50);

    @include max(1023) {
        height: auto;
        min-height: 100vh;
        padding-bottom: 0;
    }

    &__title {
        br {
            display: none;
        }

        @include max(767) {
            padding: 0 10px;
            max-width: 450px;

            br {
                display: block;
            }
        }
    }

    &__lines {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: vh(1003);

        @include max(1023) {
            z-index: 1;
        }
    }

    &__line {
        position: absolute;

        &-wrap {
            display: flex;
            position: absolute;
            overflow: hidden;
            height: 100%;

            &--1 {
                width: 160vh;
                right: 110px;
                justify-content: flex-end;

                @include max(1023) {
                    right: auto;
                    width: 224px;
                    left: 0;
                }
            }

            &--2 {
                width: 28vh;
                right: 0;
                justify-content: flex-start;

                @include max(1023) {
                    width: 139px;
                }
            }
        }

        &-inner {
            position: relative;
            width: 0;
            height: 100%;
            overflow: hidden;
        }

        &--1 {
            height: 100%;
            width: 160vh;
            bottom: 0;
            right: 0;

            @include max(1023) {
                width: 224px;
            }
        }

        &--2 {
            height: 100%;
            width: 28vh;
            bottom: 0;
            left: 0;

            @include max(1023) {
                width: 139px;
            }
        }

        img,
        picture {
            width: 100%;
            height: 100%;
        }
    }

    &__bgs {
        @include max(1023) {
            display: none;
        }
    }

    &__bgs-mob {
        display: none;

        @include max(1023) {
            display: block;
            flex: 1 1 auto;
            position: relative;
            z-index: 3;
        }
    }

    &__bg {
        position: absolute;

        img {
            height: 100%;
            width: auto;
        }

        &--1 {
            height: vh(534);
            right: calc((100vw - 1656px) / 2);
            bottom: vh(250);
            z-index: 12;

            @include max(1279) {
                right: calc((100vw - 984px) / 2);
            }

            @include max(1023) {
                height: 30.25vh;
                aspect-ratio: 1 / 0.894;
                right: -60px;
                bottom: 38.5%;
            }

            @include max(767) {
                height: 242px;
                bottom: 55px;
            }

        }

        &--2 {
            height: vh(325);
            bottom: vh(350);
            transform: rotate(-2.26deg);
            z-index: 11;
            left: calc(100vw - ((100vw - 1656px) / 2) - vh(985));

            @include max(1279) {
                left: calc(100vw - ((100vw - 984px) / 2) - vh(985));
            }

            @include max(1023) {
                height: 18.5vh;
                aspect-ratio: 1 / 0.57;
                left: auto;
                right: 183px;
                bottom: 50.5%;
            }

            @include max(767) {
                height: 148px;
                bottom: 95px;
                right: 130px;
            }
        }

        &--3 {
            height: vh(474);
            bottom: 7%;
            z-index: 13;
            left: calc(100vw - ((100vw - 1656px) / 2) - vh(1550));

            @include max(1279) {
                left: calc(100vw - ((100vw - 984px) / 2) - vh(1550));
            }

            @include max(1023) {
                height: 32vh;
                aspect-ratio: 1 / 0.428;
                left: auto;
                right: 0;
                bottom: 0;
            }

            @include max(767) {
                height: 256px;
                bottom: -80px;
            }
        }

    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__inner {
        position: relative;
        height: vh(1003);
        padding-top: vh(148);
        background-color: transparent;
        border-radius: 0 0 30px 30px;

        @include max(1600) {
            padding-top: vh(138);
            border-radius: 0 0 20px 20px;
        }

        @include max(1279) {
            padding-top: 66px;
            border-radius: 0 0 15px 15px;
        }

        @include max(1023) {
            padding-top: 0;
            padding-bottom: 40px;
            height: auto;
            border-radius: 0;
            background-color: $c-white;
        }
    }

    &__bgc {
        background-color: $c-light-bg;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: vh(1003);
        border-radius: 0 0 30px 30px;
    }

    &__center {
        width: 100%;
        max-width: 1375px;
        margin: 0 auto;
        position: relative;
        z-index: 5;

        @include max(1600) {
            max-width: 1100px;
        }

        @include max(1279) {
            max-width: 984px;
        }

        @include max(1023) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            padding-top: 66px;
            padding-bottom: 40px;
        }

        @include max(767) {
            padding-bottom: 0;
            min-height: 750px;
        }
    }

    &__logo {
        position: relative;
        text-align: center;
        margin-top: 7px;
        height: 175px;
        width: 1375px;
        color: $c-accent-1;

        @include max(1600) {
            height: 140px;
            width: 1100px;
        }

        @include max(1279) {
            height: 125.24px;
            width: 984px;
        }

        @include max(1023) {
            display: none;
        }

        svg {
            height: 100%;
            width: 100%;
            color: inherit;
        }

        &-wrap {
            position: absolute;
            height: 100%;
            top: 0;
            overflow: hidden;
            display: flex;
            align-items: center;

            &--1 {
                width: 57%;
                left: 0%;
                justify-content: flex-end;
            }

            &--2 {
                width: 43%;
                right: 0%;
                justify-content: flex-start;
            }
        }

        &-green {
            position: relative;
            height: 100%;
            width: 0;
            overflow: hidden;

            &--1 {
                border-radius: 50px 0 0 50px;
            }

            &--2 {
                border-radius: 0 50px 50px 0;
            }
        }

        &-inner {
            position: absolute;
            top: 0;
            width: 1375px;
            height: 175px;

            @include max(1600) {
                height: 140px;
                width: 1100px;
            }

            @include max(1279) {
                height: 125.24px;
                width: 984px;
            }

            &--1 {
                right: -591.5px;

                @include max(1600) {
                    right: -473px;
                }

                @include max(1279) {
                    right: -423px;
                }
            }

            &--2 {
                left: -783px;

                @include max(1600) {
                    left: -627px;
                }

                @include max(1279) {
                    left: -561px;
                }
            }

        }
    }

    &__advantages {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-top: vh(50);

        @include max(1279) {
            margin-top: 24px;
            gap: 6px;
        }

        @include max(1023) {
            gap: 15px;
            z-index: 5;
            margin-top: 0;
        }

        @include max(767) {
            gap: 5px;
            background-color: $c-light-bg;
            border-radius: 20px 20px 0 0;
            margin: 0 -10px;
            padding: 40px 10px;
            z-index: 1;
        }

    }

    &__advantage {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;

        @include max(1600) {
            gap: 10px;
            font-size: 14px;
            max-height: 18px;
        }

        @include max(767) {
            font-size: 12px;
            max-height: none;
        }

        svg {
            color: $c-accent-1;
            width: 19px;
            height: 14px;
        }
    }

    &__btn {
        margin-top: vh(30);

        @include max(1600) {
            margin-top: vh(24);
        }

        @include max(1023) {
            margin-top: 15px;
        }
    }

    &__cards {
        display: flex;
        align-items: stretch;
        gap: 30px;
        margin-top: auto;
        margin-bottom: vh(-50);
        z-index: 5;

        @include max(1600) {
            gap: 24px;
        }

        @include max(1023) {
            flex-direction: column;
            margin-bottom: 0;
        }

        @include max(767) {
            padding-top: 66px;
        }
    }

    &__cards &__card:first-child {
        .intro-card__icon {
            width: 80px;
            height: 56px;

            @include max(1600) {
                width: 64px;
                height: 44.8px;
            }

            @include max(1023) {
                width: 80px;
                height: 56px;
            }
        }
    }

}

.intro-card {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: vh(40) 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    min-height: 212px;

    @include max(1600) {
        padding: 20px 16px;
        gap: 24px;
        min-height: 185px;
    }

    @include max(1279) {
        flex-direction: column;
        padding: 15px 10px;
        gap: 15px;
    }

    @include max(1023) {
        padding: 20px 10px;
        gap: 24px;
        background-color: $c-light-bg;
    }

    &__icon {
        flex-shrink: 0;
        width: 74px;
        height: 74px;

        @include max(1600) {
            width: 59.2px;
            height: 59.2px;
        }

        @include max(1279) {
            width: 44.8px;
            height: 44.8px;
        }

        @include max(1023) {
            width: 74px;
            height: 74px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__desc {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include max(1600) {
            gap: 8px;
        }

        @include max(1279) {
            gap: 5px;
        }

        @include max(1023) {
            gap: 13px;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.22em;

        span {
            color: $c-accent-1;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.57em;

        @include max(1600) {
            line-height: 1.26em;
        }

        @include max(1279) {
            font-size: 13px;
        }

        @include max(1023) {
            font-size: 14px;
            line-height: 1.429em;
        }
    }

    &__btn {
        margin-top: auto;

        @include max(1023) {
            margin-top: 10px;
        }
    }

}