header.site-header(data-anim="header" style="opacity:0;")
    .h-container.site-header__container
        button(data-hystmodal="#mobileMenu").mobile-menu__burger
            svg 
                use(xlink:href=`./img/sprites/sprite.svg#burger`)        
        .site-header__logo 
            svg 
                use(xlink:href=`./img/sprites/sprite.svg#logo`)
        nav.site-header__nav.header-nav
            +btn({
                classes: 'header-nav__btn',
                link: '#about',
                vMode: "menu",
                text: 'О компании',
                cMode: 'transparent',
            })
            +btn({
                classes: 'header-nav__btn',
                link: '#catalog',
                vMode: "menu",
                text: 'Каталог продукции',
                cMode: 'transparent',
            })
            +btn({
                classes: 'header-nav__btn',
                link: '#guarantee',
                vMode: "menu",
                text: 'Гарантия',
                cMode: 'transparent',
            })
            +btn({
                classes: 'header-nav__btn',
                link: '#contacts',
                vMode: "menu",
                text: 'Контакты',
                cMode: 'transparent',
            })
        +btn({
            classes: 'site-header__btn',
            text: 'Заказать звонок',
            cMode: 'white',
            icon: true,
            iconName: 'handset',
        })
