.product-card {
    display: flex;
    gap: 10px;
    align-items: stretch;
    padding: 30px;
    background-color: $c-white;
    border-radius: 10px;

    @include max(1600) {
        padding: 24px;
    }

    @include max(1279) {
        padding: 20px 10px;
    }

    @include max(767) {
        flex-direction: column-reverse;
        gap: 15px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        flex: 1 1 auto;

        @include max(767) {
            justify-content: space-between;
            gap: 15px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        transition: color $tr-time-and-type;

        @include max(1279) {
            font-size: 11px;
        }

        @include max(767) {
            font-size: 10px;
        }

        svg {
            width: 50px;
            height: 50px;
            flex: 0 0 50px;

            @include max(1600) {
                width: 40px;
                height: 40px;
                flex: 0 0 40px;
            }

            @include max(1279) {
                width: 30px;
                height: 30px;
                flex: 0 0 30px;
            }
        }

        &:hover {
            color: $c-accent-1;
        }
    }

    &__img {
        flex: 0 0 144px;
        aspect-ratio: 1 / 0.9722;
        transform: scale(1);
        transition: transform $tr-time-and-type;

        @include max(1600) {
            flex: 0 0 120px;
        }

        @include max(1279) {
            flex: 0 0 80px;
        }

        @include max(767) {
            flex-basis: auto;
            width: 100px;
            height: 97.22px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &:hover &__img {
        transform: scale(1.5);
    }
}