.home-catalog {
    height: vh(985);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $c-light-bg;
    border-radius: 30px;
    padding: 0 0 vh(42);

    @include max(1600) {
        height: vh(940);
        padding: 0 0 vh(36);
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: vh(35) 25px;
        padding-top: vh(70);

        @include max(1600) {
            padding-top: vh(50);
            gap: vh(30) 20px;
        }
    }

    &__orders {
        display: flex;
        align-items: center;
        gap: 100px;
        margin-top: vh(63);

        @include max(1600) {
            margin-top: vh(50);
        }
    }

    &__order {
        display: flex;
        align-items: center;
        gap: 20px;

        svg {
            flex: 0 0 32.58px;
            width: 32.58px;
            height: 33.57px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.467em;
            max-width: 260px;
        }

        span {
            color: $c-accent-2;
            font-weight: 600;
        }
    }

    &__markets {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__market {
        img {
            max-height: 40px;
            width: auto;
        }
    }
}