mixin mixins
    //- компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/btn/btn
    include ../../blocks/components/text-editor/text-editor
    include ../../blocks/components/form/form
    include ../../blocks/components/field/field
    include ../../blocks/components/modal/modal

    //- модули