-
    const defaultFieldProps = {
        classes: '',
        type: 'text',
        placeholder: '',
        inputAttr: {},
    }

mixin field(props = defaultFieldProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFieldProps.classes,
            type: props.type ? props.type : defaultFieldProps.type,
            placeholder: props.placeholder ? props.placeholder : defaultFieldProps.placeholder,
            inputAttr: props.inputAttr ? props.inputAttr : defaultFieldProps.inputAttr,
        }

    label.field(class= checkProps.classes data-js='formField')&attributes(attributes)
        input.field__input(type=checkProps.type placeholder=checkProps.placeholder)&attributes(checkProps.inputAttr)

