-
    const defaultFormProps = {
        classes: '',
        title: '',
        btnText: '',
    }

mixin form(props = defaultFormProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFormProps.classes,
            title: props.title ? props.title : defaultFormProps.title,
            btnText: props.btnText ? props.btnText : defaultFormProps.btnText,
        }

    form.form(action="#" class= checkProps.classes data-validate novalidate)&attributes(attributes)
        .form__content(data-js='form-content')
            +title({
                classes: "form__title",
                tag: "h3",
                text: checkProps.title
            })
            .form__fields
                block
            .form__privacy
                p!= 'Нажимая «Отправить» вы соглашаетесь с <a href="#" target="_blank">Политикой конфиденциальности</a> и <a href="#" target="_blank">обработкой персональных данных</a>'
            +btn({
                classes: 'form__submit',
                tag: 'button',
                buttonType: 'submit',
                vMode: 'btn',
                text: checkProps.btnText,
                cMode: 'green',
                icon: true,
                iconName: 'mail'
            })