.form {
    width: 100%;
    padding: 0;
    background-color: transparent;

    &__content {
        width: 100%;
        height: auto;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: $font;
        font-size: 20px;
        line-height: 1.48em;
        font-weight: 600;
        color: $c-white;

        span {
            color: $c-accent-2
        }

        @include max(1600) {
            font-size: 16px;
        }

        @include max(1023) {
            font-size: 20px;
        }

    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        @include max(1023) {
            margin-top: 20px;
            gap: 15px;
        }

    }

    &__submit {
        margin: 12px 0 0;

        @include max(1023) {
            margin-top: 15px;
        }

    }

    &__privacy {
        display: block;
        margin: 12px auto 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        color: $c-white;

        @include max(1600) {
            font-size: 12px;
        }

        @include max(1023) {
            margin-top: 15px;
            font-size: 14px;
        }

        a {
            color: $c-accent-2;
            text-decoration: underline;
        }
    }
}