.form {
    width: 100%;
    padding: 0;
    background-color: transparent;

    @include max(1024) {
        padding: 40px;
    }

    @include max(500) {
        padding: 32px 16px;
    }

    &__content {
        width: 100%;
        height: auto;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: $font;
        font-size: 20px;
        line-height: 1.5em;
        font-weight: 600;
        color: $c-white;

        span {
            color: $c-accent-2
        }

        @include max(1024) {
            font-size: 48px;
        }

        @include max(730) {
            font-size: 40px;
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;

        @include max(1024) {}

        @include max(500) {}
    }

    &__submit {
        margin: 15px 0 0;

        @include max(1024) {
            margin: 15px 0 0;
        }
    }

    &__privacy {
        display: block;
        margin: 15px auto 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        color: $c-white;

        @include max(1024) {
            max-width: 330px;
            margin: 24px auto 0;
        }

        a {
            color: $c-accent-2;
            text-decoration: underline;

            @include hover() {}
        }
    }
}