.home-guarantee
    .home-guarantee__bgs
        .home-guarantee__bg.home-guarantee__bg--2 
            img(src="./img/home/guarantee_2.png" alt="")
        .home-guarantee__bg.home-guarantee__bg--1 
            img(src="./img/home/guarantee_1.png" alt="")
    .h-container(data-anim="homeGuaranteeConteiner")
        +title({
            text: "Гарантия"
        })
        .home-guarantee__content
            .home-guarantee__info
                .home-guarantee__text Hakort предлагает расширенную гарантию на всю продукцию, понимая, что это является залогом уверенности клиентов в собственном автомобиле. Компания предоставляет гибкие условия возврата и обмена через собственную службу работы с рекламациями в гарантийных случаях.
                .home-guarantee__logo
                    svg 
                        use(xlink:href=`./img/sprites/sprite.svg#logo`)
            .home-guarantee__cards(data-js="guaranteeSlider")
                .swiper-wrapper(data-js="guaranteeSliderWrapper")
                    +guarantee-card({
                        classes: 'swiper-slide'
                    })
                    +guarantee-card({
                        classes: 'swiper-slide',
                        title: 'Перфорированные диски',
                        icon: 'product_i_2',
                        term: '12 месяцев <br>30 000 км пробега',
                        text: 'Гарантия распространяется на брак материала или производственный брак',
                    })
                    +guarantee-card({
                        classes: 'swiper-slide',
                        title: 'Тормозные колодки',
                        icon: 'product_i_3',
                        term: '12 месяцев <br>30 000 км пробега',
                        text: 'Гарантия распространяется на брак материала или производственный брак',
                    })
                    +guarantee-card({
                        classes: 'swiper-slide',
                        title: 'Тормозные шланги',
                        icon: 'product_i_5',
                        term: '12 месяцев',
                        text: 'Без ограничения пробега при соблюдении всех рекомендаций по эксплуатации в период между ТО',
                    })