extends ../layouts/default

block variables
    - const title = "Главная"
    - const page = "home"

block content
    .page.anim-scroll(data-js="pageAnimWrap" data-page=page)
        .home-intro__bgc(data-anim="homeIntroBgc")
        .home-intro__lines
            .home-intro__line.home-intro__line--1(data-anim="homeIntroLine1")
                picture 
                    source(srcset="./img/home/intro-line1-mob.svg" media="(max-width: 1023px)")
                    img(src="./img/home/intro-line1.svg" alt="")
            .home-intro__line.home-intro__line--2(data-anim="homeIntroLine2")
                img(src="./img/home/intro-line2.svg" alt="")
        .home-intro__bgs
            .home-intro__bg.home-intro__bg--1(data-anim="homeIntroBg1")
                img(src="./img/home/intro_bg_1.png" alt="")
            .home-intro__bg.home-intro__bg--2(data-anim="homeIntroBg2")
                img(src="./img/home/intro_bg_2.png" alt="")
            .home-intro__bg.home-intro__bg--3(data-anim="homeIntroBg3")
                img(src="./img/home/intro_bg_3.png" alt="")
        .anim-wrapper.anim-wrapper--intro(data-anim="intro")
            include ../../blocks/modules/pages/home/home-intro/home-intro.pug
        .anim-wrapper.anim-wrapper--about(data-anim="about")
            include ../../blocks/modules/pages/home/home-about/home-about.pug
        .anim-wrapper.anim-wrapper--catalog(data-anim="catalog")
            include ../../blocks/modules/pages/home/home-catalog/home-catalog.pug
        .anim-wrapper.anim-wrapper--guarantee(data-anim="guarantee")
            include ../../blocks/modules/pages/home/home-guarantee/home-guarantee.pug
        .anim-wrapper.anim-wrapper--footer(data-anim="footer")
            include ../../blocks/modules/footer/footer