extends ../layouts/default

block variables
    - const title = "Главная"

block content
    .page(data-js="pageAnimWrap" data-page="home")
        .anim-container.anim-container--home1(style="top: 100%; position: absolute;" data-js="animContainerHome1")
        include ../../blocks/modules/pages/home/home-intro/home-intro.pug
        include ../../blocks/modules/pages/home/home-about/home-about.pug
        include ../../blocks/modules/pages/home/home-catalog/home-catalog.pug
        include ../../blocks/modules/pages/home/home-guarantee/home-guarantee.pug