section.site-footer
    .site-footer__top
        .h-container.site-footer__content.site-footer__content--top
            .site-footer__contacts
                +title({
                    classes: 'site-footer__title',
                    text: 'Контакты'
                })
                p.site-footer__contact ООО «ТоргСервис»
                p.site-footer__contact 191187, г. Санкт-Петербург, наб. Реки Фонтанки, д. 2, помещ. 511-н
                a.site-footer__contact(href="mailto:info@hakort.ru") info@hakort.ru
                p.site-footer__contact Часы работы: пн-пт 09:00-18:00
                +btn({
                    classes: 'site-footer__callback',
                    text: 'Заказать звонок',
                    link: '#callback',
                    cMode: 'green',
                    icon: true,
                    iconName: 'handset',
                })
    .site-footer__bottom
        .h-container.site-footer__content.site-footer__content--bottom
            .site-footer__map.map-block
                .map-block__map-wrap(data-anim="footerMap")
                    .map-block__map(data-js="footerMapContainer" data-coords="59.946946,30.337787 69.946946,31.337787")
                .map-block__logo
                    svg 
                        use(xlink:href=`./img/sprites/sprite.svg#logo`)
            .site-footer__nav
                .site-footer__menu.footer-menu
                    .footer-menu__logo
                        svg 
                            use(xlink:href=`./img/sprites/sprite.svg#logo`)
                    .footer-menu__links 
                        a.footer-menu__link(href="#about") О компании
                        a.footer-menu__link(href="#catalog") Каталог продукции
                        a.footer-menu__link(href="#guarantee") Гарантия
                        a.footer-menu__link(href="#contacts") Контакты
                +form({
                    classes: 'site-footer__form',
                    title: 'Хотите <span>заказать запчасти Hakort</span> или получить консультацию?',
                    btnText: 'Отправить',
                })(id='callback')
                    +field({
                        classes: '',
                        type: 'text',
                        placeholder: 'Ваше имя',
                        inputAttr: {
                            required: "",

                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        placeholder: 'Номер телефона',
                        inputAttr: {
                            required: "",
                            "data-v-name": "phone",
                            "data-type": "phoneNumber"
                        },
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        placeholder: 'Email',
                        inputAttr: {
                            required: "",
                            "data-v-name": "email"
                        },
                    })


