.site-footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: vh(75.6);

    @media only screen and (max-height: '1070px') and (min-width: '1600px') {
        gap: vh(35);
    }

    @media only screen and (max-height: '1070px') and (max-width: '1600px') {
        gap: vh(25);
    }

    @media only screen and (max-height: '1070px') and (max-width: '1023px') {
        height: auto;
        justify-content: flex-start;
        padding: 30px 0 0;
        gap: 0;
    }


    &__bottom {
        display: flex;
        height: 531px;
        border-radius: 30px;
        padding: 70px 0 101px;
        background-color: $c-text;

        @media only screen and (max-height: '1070px') and (min-width: '1600px') {
            height: 491px;
            padding: vh(50) 0 vh(80);
        }

        @media only screen and (max-height: '1070px') and (max-width: '1600px') {
            height: 345px;
            padding: vh(35) 0 vh(35);
            border-radius: 20px;
        }

        @media only screen and (max-height: '1070px') and (max-width: '1279px') {
            border-radius: 15px;
        }

        @media only screen and (max-height: '1070px') and (max-width: '1023px') {
            flex-direction: column;
            background-color: transparent;
            height: auto;
            padding: 30px 0 0;
            margin: 0 -20px;
        }
    }

    &__content {
        display: flex;

        @include max(767) {
            padding: 0 10px;
        }

        &--top {
            justify-content: flex-end;
        }

        &--bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 59px;

            @include max(1600) {
                gap: 40px;
            }

            @include max(1023) {
                flex-direction: column;
                align-items: stretch;
                gap: 0;
            }

        }
    }

    &__contacts {
        max-width: 780px;
        width: 100%;
        color: $c-white;

        @include max(1600) {
            max-width: 52.5%;
            display: grid;
            grid-template-columns: 200px auto;
            gap: 0 50px;
        }

        @include max(1279) {
            max-width: 55%;
            gap: 0 40px;
        }

        @include max(1023) {
            display: flex;
            flex-direction: column;
            max-width: 100%;
        }

        a.site-footer__contact {
            text-decoration: underline;
        }
    }

    &__title {
        color: $c-white;
        margin-bottom: 37px;

        @include max(1600) {
            margin-bottom: 0;
            margin-top: 8px;
            grid-row: 1 / 6;
        }


        @include max(1023) {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__contact {
        display: block;
        margin-top: 13px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2em;

        @include max(1600) {
            margin-top: 8px;
            font-size: 14px;
        }

        @include max(1023) {
            margin-top: 16px;
            font-size: 16px;
        }
    }


    &__callback {
        margin-top: 37px;

        @include max(1600) {
            margin-top: 20px;
        }

        @include max(1023) {
            margin-top: 30px;
        }
    }

    &__nav {
        display: flex;
        align-items: flex-start;
        gap: 90px;
        max-width: 780px;

        @include max(1600) {
            gap: 50px;
            max-width: 52.5%;
        }

        @include max(1279) {
            gap: 40px;
            max-width: 55%;
            width: 55%;
        }

        @include max(1023) {
            width: 100%;
            max-width: 100%;
            background-color: $c-text;
            padding: 35px 20px 40px;

        }
    }

}

.map-block {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    aspect-ratio: 1.0489 / 1;

    @include max(767) {
        aspect-ratio: 1 / 1.5833;
    }

    &__map-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        @include max(1023) {
            position: relative;
            border-radius: 0;
        }


    }

    &__map {
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto;
        height: 100%;
        aspect-ratio: 1.0489 / 1;

        @include max(767) {
            aspect-ratio: 1 / 1.5833;
        }

        /*img,
        picture {
            display: block;
            height: 100%;
            width: auto;
            aspect-ratio: 1.0489 / 1;

            @include max(767) {
                aspect-ratio: 1 / 1.5833;
            }
        }*/
    }

    &__logo {
        position: relative;
        width: 815px;
        height: 99px;
        margin-top: auto;

        @media only screen and (max-height: '1070px') and (min-width: '1600px') {
            width: 765px;
            height: 93px;
        }

        @media only screen and (max-height: '1070px') and (max-width: '1600px') {
            width: 530px;
            height: 64.38px;
        }

        @media only screen and (max-height: '1070px') and (max-width: '1279px') {
            width: 400px;
            height: 48.59px;
        }

        @media only screen and (max-height: '1070px') and (max-width: '1023px') {
            position: absolute;
            display: flex;
            align-items: flex-end;
            left: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 0.1215;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__placemark {
        width: 30px;
        height: 23px;
        max-width: none;
    }
}

.footer-menu {
    padding-top: 8px;

    @include max(1279) {
        padding-top: 5px;
    }

    @include max(1023) {
        display: none;
    }

    &__logo {
        width: 200px;
        height: 25px;

        svg {
            color: $c-accent-2;
            width: 100%;
            height: 100%;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 0;
        padding-left: 8px;
    }

    &__link {
        width: fit-content;
        color: $c-white;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.22em;
        padding: 11.35px 0;
        background-color: transparent;
        transition: background-color $tr-time-and-type;
        border-radius: 50px;

        &:hover {
            background-color: $c-accent-2;
        }
    }
}