.btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 10px 20px 10px 10px;
    width: fit-content;
    min-width: 205px;
    background-color: $c-white;
    border-radius: 10px;
    font-family: $font;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.22em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: $c-text;

    @include max(500) {
        padding: 12px 24px;
    }

    &__text {
        color: inherit;
        transition: all $tr-time-and-type;
    }

    &__icon {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 20.82px;
            height: 20.82px;
            color: inherit;
            transition: all $tr-time-and-type;
        }
    }
}

.btn {
    &--white {
        background-color: $c-white;
    }

    &--transparent {
        background-color: transparent;
    }
}

.btn {
    &--btn &__icon {
        padding: 7.09px;
        background-color: $c-accent-2;
        border-radius: 100%;
    }
}

.btn {
    &--linkArrow {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 0;
        border-radius: 0;
        color: $c-accent-1;
    }

    &--icon {
        color: $c-accent-2;
    }
}